.box1 {
    width: 1300px;
    height: 125px;
    background-color: yellowgreen;
    position: absolute;
    top: 0,5em;
    left: 2em;
    right: 2em;
    }
.box2 {
    width: 220px;
    height: 245px;
    background-color: yellow;
    position: absolute;
    margin-top: 9em;
    left: 2em;
    }
.box3 {
    width: 1055px;
    height: 245px;
    background-color: tomato;
    position: absolute;
    margin-top: 9em;
    right: 2em;
    }
.box4 {
    width: 220px;
    height: 210px;
    background-color: yellow;
    position: absolute;
    margin-top: 23em;
    left: 2em;
    bottom: 1em;
    }
.box5 {
    width: 1055px;
    height: 210px;
    background-color: turquoise;
    position: absolute;
    margin-top: 23em;
    right: 2em;
    bottom: 1em;
    }